JCHATMIND_SERVER_PORT=8080

JCHATMIND_DB_URL=jdbc:postgresql://localhost:5432/jchatmind
JCHATMIND_DB_USERNAME=postgres
JCHATMIND_DB_PASSWORD=postgres

JCHATMIND_MAIL_HOST=smtp.qq.com
JCHATMIND_MAIL_PORT=587
JCHATMIND_MAIL_USERNAME=your-email@example.com
JCHATMIND_MAIL_PASSWORD=your-mail-authorization-code
JCHATMIND_MAIL_SMTP_AUTH=true
JCHATMIND_MAIL_SMTP_STARTTLS_ENABLE=true
JCHATMIND_MAIL_SMTP_STARTTLS_REQUIRED=true

DEEPSEEK_API_KEY=replace-me
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_CHAT_MODEL=deepseek-chat

ZHIPUAI_API_KEY=replace-me
ZHIPUAI_BASE_URL=https://open.bigmodel.cn/api/paas
ZHIPUAI_CHAT_MODEL=glm-4.6

JCHATMIND_DOCUMENT_STORAGE_BASE_PATH=./data/documents

JCHATMIND_EMBEDDING_BASE_URL=http://localhost:11434
JCHATMIND_EMBEDDING_MODEL=bge-m3
